h1{
    color: rgb(56, 56, 244);
}
#center{
    text-align: center;
    background-color: rgb(240, 240, 245);
    height: 500px;
}
#border{
    height: 300px;
background-color: white;

    margin: auto;
  width: 400px;
  padding: 15px;
  border-radius: 5%;
  
  
}
#mail{
    width: 350px;
    height: 45px;
    font-size: medium;
    



}
#mail1{
    width: 354px;
    height: 45px;
    color: white;
    background-color: rgb(86, 86, 238) ;
    font-size: large;
    font-weight: lighter;
    
    
}
#color{
    color: blue;
}